/*
  font-family: 'Roboto', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  display: flex;
  flex-flow: row wrap;
}

body>* {
  flex-basis: 100%;
}

/* HEADER */
header {
  display: flex;
  flex-flow: column wrap;
}

header>* {
  flex-basis: 100%;
}

div.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background-color: #2e300f;
  z-index: 999;
  border-bottom: 2px solid #575836;
}

.logo img,
.burger {
  position: absolute;
  top: 10vh;
  cursor: pointer;
}

.logo img {
  left: 50%;
  width: 20vh;
  height: 20vh;
  transform: translate(-50%, -50%);
}

/* BURGER MENU */

.burger {
  right: 5%;
  font-size: 4rem;
  color: #F7DBA7;
  transform: translateY(-50%);
  z-index: 1;
}

i.off {
  display: none;
}

i.fa-angle-up {
  color: #F7DBA7;
}

nav {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  height: 100vh;
  background-color: #2e300f;
  transition: .4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav.off {
  top: -100vh;
}

div.menu-socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-socials i.fa-envelope,
.menu-socials i.fa-facebook {
  display: block;
  margin: 0 10px;
  font-size: 5rem;
  animation: menu-socials 5s both infinite;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: relative;
}

nav li {
  margin: 10px 0;
  flex-basis: 25%;
}

nav a {
  display: block;
  font-size: 3.5rem;
  text-align: center;
  color: #858660;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

nav a.active {
  color: #F7DBA7;
}

nav a:hover {
  color: #F7DBA7;
}

/* SOCIAL ICONS ANIMATION */

@keyframes menu-socials {
  0% {
    transform: rotate(0);
  }

  24% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(-10deg);
  }

  26% {
    transform: rotate(10deg);
  }

  27% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(0);
  }

  51% {
    transform: rotate(-10deg);
  }

  52% {
    transform: rotate(10deg);
  }

  53% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }

}

/* SLIDESHOW CONTAINER */

.mySlides {
  display: none;
  height: 100%;
  width: 100%;
}

.mySlides img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.slideshow-container {
  height: 80vh;
  width: 100%;
  position: relative;
  top: 0;
  margin-top: 20vh;
  left: 0;
}

/* NEXT & PREVIOUS BUTTON */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* TEXT */
.text {
  padding: 12px 20px;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.text h2,
.text p,
.text button {
  font-family: 'Roboto', sans-serif;
  color: #f2f2f2;
}

.text h2 {
  text-transform: uppercase;
  font-size: 2.6rem;
  margin-bottom: 10px;
  padding: 4px 10px;
}

.text p {
  font-weight: 300;
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-align: center;
}

.text button {
  padding: 5px 10px;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: #575836;
  color: #F7DBA7;
  border: 0;
  box-shadow: 0 6px 6px -6px black;
  transition: 0.2s linear;
}

@media (orientation: portrait) and (min-height: 768px) {
  .text h2 {
    font-size: 3rem;
  }

  .text p {
    font-size: 2rem;
  }

  .text button {
    font-size: 2.6rem;
  }
}

.text button:hover {
  background-color: #2e300f;
  color: white;
  cursor: pointer;
}

/* DOTS */
.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 2vh;
  width: 2vh;
  margin: 0 2px;
  background-color: #666;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active,
.dot:hover {
  background-color: #fff;
}

/* FADING ANIMATION */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* ABOUT */

article.about {
  padding: 40px 20px;
  background-image: url("../img/bg-about.jpg");
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

article.about h2 {
  flex-basis: 100%;
  font-size: 3.5rem;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0 20px;
}

article.about p {
  font-size: 1.6rem;
  color: #333;
  text-align: justify;
  line-height: 150%;
  letter-spacing: 1px;
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

article.about img {
  width: 200px;
  height: 200px;
  flex-basis: 30%;
}

article.about p button {
  font-family: 'Roboto', serif;
  display: block;
  font-size: 1.8rem;
  border: 2px solid #2e300f;
  background-color: transparent;
  color: #2e300f;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 20px;
  box-shadow: 0 6px 6px -6px #666;
  transition: 0.2s linear;
  cursor: pointer;
}

article.about p button:hover {
  transform: scale(1.1);
}

article.about button i.fa-address-card {
  margin-right: 10px;
}

/* PARTNERS */
section.partners h3 {
  font-size: 3.5rem;
  padding: 20px 0 10px;
  color: #333;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

section.partners {
  font-family: 'Roboto', sans-serif;
  padding: 30px 0 50px;
}

section.partners .slider {
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 100vw;
}

section.partners .slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  opacity: 0;
  transition: opacity 1s linear;
}

section.partners .slide.current {
  opacity: 1;
}

section.partners .buttons {
  position: relative;
  padding: 20px 0 10px;
}

.buttons button#next {
  position: absolute;
  top: 0;
  right: 30%;
}

.buttons button#prev {
  position: absolute;
  top: 0;
  left: 30%;
}

.buttons button {
  border: 2px solid #333;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
  transition: .4s ease-in-out;
}

.buttons button:hover {
  background-color: #333;
  color: white;
}

section.partners .slide:first-child {
  background: url('../img/logo-mobile-150x150.png') no-repeat center center/cover;
}

section.partners .slide:nth-child(2) {
  background: url('../img/slocinski-logo.png') no-repeat center center/cover;
  width: 300px;
}

section.partners .slide:nth-child(3) {
  background: url('../img/logo-bryzol-strona-300x300.png') no-repeat center center/cover;
}

/* MAP */

section.map {
  background: #000 url("../img/footer-bg.png") repeat;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: #f2f2f2;
  padding: 10px 0 30px;
  font-family: 'Roboto', sans-serif;
}

section.map h3 {
  font-size: 3.5rem;
  padding: 30px 0 20px;
  color: #f2f2f2;
  text-transform: uppercase;
}

#map {
  width: 100%;
  height: 80vh;
  background-color: grey;
}

/* CONTACT */

section.contact {
  background: #000 url("../img/footer-bg.png") repeat;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: #f2f2f2;
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif;
}

section.contact h3 {
  font-size: 3.5rem;
  padding: 20px 0 20px;
  color: #f2f2f2;
  text-transform: uppercase;
}

/* section.contact h3::after {
  content: "";
  height: 3px;
  width: 60%;
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
} */

section.contact .address-wrap {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  text-align: center;
}

section.contact i {
  margin: 20px 0 6px;
  font-size: 4rem;
}

section.contact p {
  font-size: 3rem;
}

section.contact p a {
  color: #f2f2f2;
  text-decoration: none;
}

/* FOOTER */

footer section.copy {
  padding: 40px 0;
  width: 100%;
  height: 10vh;
  border-top: 2px solid #575836;
  background-color: #2e300f;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  color: #858660;
  font-family: 'Roboto', sans-serif;
}

footer section.copy p span {
  color: #F7DBA7;
}

footer section.copy p a {
  text-decoration: none;
  color: #858660;
}